/* style.css */
body {
    text-align: center;
    padding: 50px;
}
span{
    display: block;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 10px;
    cursor: pointer;
}

#grey {
    background-color: grey;
}   
#yellow {
    background-color: yellow;
}
#blue{
    background-color: blue;
}
#green  {
    background-color:green;
}
#purple{
    background-color: purple;
}